{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{ serviceName }}</h1>

      <h2 class="heading-large">Enter your reference number</h2>
      <p>You should have received this number when using the service.</p>

    	<form class="form-group" action="/room-rent/ref-confirm" method="GET">
				<label class="form-label-bold" for="card-security-number">
		    	Reference number
		    	<span class="form-hint">For example, QQ 12 34 56C.</span>
		  	</label>
		  	<input class="form-control" id="ref-number" name="ref-number" type="text">
		  	
		  	<input class="button" type="submit" value="Continue">

			</form>

			<p>If you do not have a reference number, you'll need to contact the service on +44 7700 900468</p>

    </div>
  </div>
</main>

{% endblock %}


