{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{ serviceName.embassyFees }}</h1>

      <p>Once you pay, you'll be given a reference number that you can use in your transaction.</p>

		  <div class="payment-summary">

	      <h2>Payment summary</h2>

	      <table>
	      	<tbody>
	      		<tr>
	      			<td>Payment of:</td>
	      			<td class="heading-small">Legalise a signature or seal</td>
	    			</tr>
	    			<tr>
	    				<td>Amount to pay:</td>
	    				<td class="heading-large">£30 / €40</td>
	  				</tr>
					</tbody>
	      </table>
	    
	      <a href="/room-rent/choose-payment" class="button">Make payment</a>

      </div>
    </div>
  </div>
</main>

{% endblock %}


