{% extends "layout.html" %}
{% block page_title %}
	GOV.UK prototype kit
{% endblock %}
{% block content %}

<link href="/public/stylesheets/copied-from-admin.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-quarter">
			<div class="left-nav">
				<ul>
					<li><a href="http://pay-staff-tool.herokuapp.com/staff-dashboard">Dashboard</a></li>
					<li><a href="transactions">Transactions &amp; Invoices</a></li>
					<li><a href="upload-invoices">Upload Invoices</a></li>
					<li><a href="http://pay-staff-tool.herokuapp.com/staff-dashboard#">API keys</a></li>
					<li><a href="http://pay-staff-tool.herokuapp.com/staff-dashboard#">Manage your team</a></li>
					<li><a href="http://pay-staff-tool.herokuapp.com/staff-dashboard#">Settings</a></li>
				</ul>
			</div>
		</div>
		<div class="column-three-quarters">
			<div class="grid-row padding-grid-row">
				<h1 class="heading-large underline">Upload invoices: Match your columns</h1>
			</div>

			
		</div>
	</div>
</main>
{% endblock %}